@import "~antd/dist/antd.css";
.Container{
    background-color: #f2f2f2;
}
h4{
    line-height: 1 !important;
}
.logo{
    color:#fff;
    font-weight:700;
    font-size: 32px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    /* background-color: #78BB7B !important; */
}
.content{
    width: 1000px;
    margin: auto;
}
.affix{
    display: flex;
    flex-flow: column; 
    place-content: center; 
    align-items: center;
}
.affix-btn{
    height: 60px;
    border-bottom: 1px solid #fff;
}