.logo{
    color:#fff;
    font-weight:700;
    font-size: 32px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    /* background-color: #78BB7B !important; */
}